<html layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">
<div layout:fragment ="content" class="container my-3">
    <!-- 질문 -->
    <h2 class="border-bottom py-2" th:text="${board.title}"></h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" th:utext="${@markdownUtil.markdown(board.content)}"></div>

            <div class="d-flex justify-content-end">
                <div th:if="${board.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">수정된 시간</div>
                    <div th:text="${#temporals.format(board.modifyDate, 'yyyy년 MM월 dd일 HH시 mm분')}"></div>
                </div>
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">
                        <span th:if="${board.user != null}" th:text="${board.user.username}"></span> 님이 작성
                    </div>
                    <div th:text="${#temporals.format(board.createDate, 'yyyy년 MM월 dd일 HH시 mm분')}"></div>
                </div>
            </div>
            <div class="my-3">
                <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
                   th:data-uri="@{|/board/heart/${board.getId()}|}">
                    좋아요
                    <span class="badge rounded-pill bg-success" th:text="${#lists.size(board.userHeart)}"></span>
                </a>
                <a th:href="@{|/board/modify/${board.getId()}|}" class="btn btn-sm btn-outline-secondary"
                   th:sec:authorize="isAuthenticated"
                   th:if="${board.user != null and #authorization.getAuthentication().getName() == board.user.getUsername()}"
                   th:text="수정"></a>
                <a href="javascript:void(0);" th:data-uri="@{|/board/delete/${board.getId()}|}" class="delete btn btn-sm btn-outline-secondary"
                   th:sec:authorize="isAuthenticated"
                   th:if="${board.user != null and #authorization.getAuthentication().getName() == board.user.getUsername()}"
                   th:text="삭제"></a>
            </div>
        </div>
    </div>
    <!-- 답변의 갯수 표시 -->
    <h5 class="border-bottom my-3 py-2"
        th:text="|${#lists.size(board.commentList)}개의 댓글이 있습니다.|"></h5>
    <!-- 답변 반복 시작 -->
    <div class="card my-3" th:each="comment : ${board.commentList}">
        <a th:id="|comment_${comment.id}|"></a>
        <div class="card-body">
            <div class="card-text" th:utext="${@markdownUtil.markdown(comment.content)}"></div>

            <div class="d-flex justify-content-end">
                <div th:if="${comment.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">수정된 시간</div>
                    <div th:text="${#temporals.format(comment.modifyDate, 'yyyy년 MM월 dd일 HH시 mm분')}"></div>
                </div>
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">
                        <span th:if="${comment.user != null}" th:text="${comment.user.username}"></span> 님이 작성
                    </div>
                    <div th:text="${#temporals.format(comment.createDate, 'yyyy년 MM월 dd일 HH시 mm분')}"></div>
                </div>
            </div>
            <div class="my-3">
                <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
                   th:data-uri="@{|/comment/heart/${comment.getId()}|}">
                    좋아요
                    <span class="badge rounded-pill bg-success" th:text="${#lists.size(comment.userHeart)}"></span>
                </a>
                <a th:href="@{|/comment/modify/${comment.getId()}|}" class="btn btn-sm btn-outline-secondary"
                   th:sec:authorize="isAuthenticated"
                   th:if="${comment.user != null and #authorization.getAuthentication().getName() == comment.user.username}"
                   th:text="수정"></a>
                <a href="javascript:void(0);" th:data-uri="@{|/comment/delete/${comment.getId()}|}"
                   class="delete btn btn-sm btn-outline-secondary"
                   th:sec:authorize="isAuthenticated"
                   th:if="${comment.user != null and #authorization.getAuthentication().getName() == comment.user.username}"
                   th:text="삭제"></a>
            </div>
        </div>
    </div>
    <!-- 답변 작성 -->
        <form th:action="@{|/comment/create/${board.id}|}" th:object="${commentForm}" method="post" class="my-3">

        <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
        </div>
            <textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" class="form-control" rows="10"></textarea>
            <textarea sec:authorize="isAuthenticated()" th:field="*{content}" class="form-control" rows="10"></textarea>
        <input type="submit" value="답변등록" class="btn btn-primary my-2">
    </form>
</div>
<script layout:fragment="script" type='text/javascript'>
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });
    const recommend_elements = document.getElementsByClassName("recommend");
    Array.from(recommend_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("'좋아요'를 누를까요?")) {
                location.href = this.dataset.uri;
            };
        });
    });
</script>
</html>